body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
}
.container h1{
    color: #00a8ff;
}
.container img{
    width: 100px;
    height: 100px;
}
.container .logo{
    display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 60%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#logoutBtn {
  background: #e84118;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #2f3640;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  background: #44bd32;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table th {
  background: #273c75;
  color: white;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:nth-child(1) {
  background: #00a8ff;
  color: white;
}

button:nth-child(2) {
  background: #e84118;
  color: white;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}
.buttons {
    width: 50%;
}
.buttons button {
    padding: 10px;
}
.modal-content h2 {
  margin-top: 0;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-buttons button {
  flex: 1;
  margin: 0 5px;
}

/* Autocomplete items */
.autocomplete-items {
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
  background-color: white;
  width: calc(100% - 20px);
  margin-top: 40px;
  width: 50%;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #ddd;
}
